<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64013/Productos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductos" contract="ProductosWS.IProductos"
                name="BasicHttpBinding_IProductos" />
        </client>
    </system.serviceModel>
</configuration>